@media (width<=500px) {
  /* body{
        background: orange;
    } */

  .slide_img {
    height: 250px;
  }

  .simply_text_size {
    text-align: center;
    font-size: 2.2rem;
    line-height: 50px;
  }
  .right_side_simply_text_size {
    margin-top: 20px;
  }
  .category-box .category-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .category-text_living_room {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .category-box h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .category-box a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
  }
  .living_room_img {
    height: 357px;
  }
  .bedroom_img {
    height: 180px;
  }
  .kitchen_img {
    height: 180px;
  }

  .feature-box {

    text-align: center;
  }

  .some_text_2_right_side {
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
  }
}

@media (width<=800px) {
  /* body{
        background: orange;
    } */

  .slide_img {
    height: 400px;
  }
  .category-box .category-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .living_room_img {
    height: 500px;
  }
  .bedroom_img {
    height: 242px;
  }
  .kitchen_img {
    height: 242px;
  }
}
@media (width<=980px) {
  .category-box .category-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
